<p>admin-page works!</p>
<div class="search-div">
  <span><b>Search</b></span>
  <input type="text" [(ngModel)]="searchValue" (input)="changeSearchValue($event)">
  <i class="fa fa-search"></i>
</div>
<div class="container">
  <table class="table table-bordered vertical-align: middle;">
      <thead class="table-info">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Posts</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let row of data| paginate: {
        itemsPerPage:7 ,
        currentPage: pagination,
        totalItems: allUsers
      }">
        <tr *ngIf="searchValue ===''|| row.firstName.toLowerCase().includes(searchValue)">
          <td>{{ row.firstName }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.password }}</td>
          <td>{{ row.age }}</td>
          <td>
            <button class="btn btn-sm btn-warning">
              <i class="fa fa-edit"></i>Edit</button>
              <button class="btn btn-sm btn-danger">
                <i class="fa fa-remove"></i>Delete</button>
          </td>
          
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        (pageChange)="renderPage($event)"
      ></pagination-controls>
    </div>

</div>

  