// table {
//     width: 100%;
//     border-collapse: collapse;
//   }
  
//   th, td {
//     border: 1px solid #ddd;
//     padding: 8px;
//   }
  
//   th {
//     background-color: #f2f2f2;
//   }
  
.thead-dark{
    text-align: center;
    text-shadow: 0cqmin;
}
.table-data{
    text-align: center;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.search-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px;
    padding: 30px 20px;
    margin-left: 500px;
}
.fa{
    font-size: 12px;
}
.fa-edit .fa-remove{
    font-size: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0px;
}
.img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 6px ;
}
.search {
    width: 20%;
}
.search-label{
    margin-right: 0.5rem
}