<div class="search-div">
  <span class="search-label"><b>Search</b></span>
  <input type="text" class="form-control search" [(ngModel)]="searchValue" placeholder="By Name Or Email" (input)="changeSearchValue($event)">
  <i class="fa fa-search"></i>
</div>
<div class="container">
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <!-- <th>DP</th> -->
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Hobbies</th>
          <th>Bio</th>
          <th>Posts</th>
          <th></th>
        </tr>
      </thead>
      <tbody  *ngFor="let row of data| paginate: {
        itemsPerPage:5 ,
        currentPage: pagination,
        totalItems: allUsers
      }">
        <tr *ngIf="searchValue ===''|| row.name.toLowerCase().includes(searchValue)||row.email.toLowerCase().includes(searchValue)">
          <td><img class="img" src={{row.profilepic}} alt="Profile Pic">{{ row.name|titlecase }}</td>
          <td class="table-data">{{ row.email }}</td>
          <td class="table-data">{{ row.district }}</td>
          <td class="table-data">{{row.hobbies}}</td>
          <td class="table-data">{{row.bio}}</td>
          <td class="table-data">{{ row.num_posts}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="editForm(row.id)" style="margin-right:0.5rem;">
              <i class="fa fa-edit"></i>Edit</button>
             <button class="btn btn-sm btn-danger" (click)="deleteUser(row.id)" style="margin-right:0.5rem;">
                <i class="fa fa-remove"></i> Delete</button>
          </td>
          
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        (pageChange)="renderPage($event)"
      ></pagination-controls>
    </div>

</div>

  