<form class="form" #registerForm="ngForm" (ngSubmit)=" registerForm.form.valid && signUp()" novalidate>
<div class="profileContainer">
<div class="avatar-container" *ngIf="!isConfirm">
  <div class="image-container" 
  [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
  </div>
  <label for="avatar-input-file">
      <div class="icon-wrapper">
          <input type="file" id="avatar-input-file" accept="image/*"  (change)="onFilechange($event)" />
          <mat-icon class="icon" fontIcon="edit"></mat-icon>
      </div>
  </label>
</div>
</div>


<div class=" form-group row justify-content-center mt-3">
    <div class="col-4">
      <div class="card">
        <div class="card-body" *ngIf="!isConfirm">
          <div class="row mb-2">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100" >
                <mat-label>Name</mat-label>
                <input matInput type="text" required id="name"  name="name" #name="ngModel" [(ngModel)]="user.name" >
                <mat-error class="text-danger" *ngIf="(name.touched ||registerForm.submitted)&& name.errors?.['required']">Name is Required</mat-error>
              </mat-form-field>
            </div>
            
          </div>
          
          <div class="row mb-2">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email" required email id="email" name="email" #email="ngModel" [(ngModel)]="user.email">
                <mat-error class="text-danger" *ngIf="(email.touched ||registerForm.submitted)&& email.errors?.['required']">Email is Required</mat-error>
               
              </mat-form-field>
            </div>
          </div>

          
          <div class="row mb-2 form-group">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" required #password="ngModel" [(ngModel)]="user.password">
                <mat-error class="text-danger" *ngIf="(password.touched || registerForm.submitted) && password.errors?.['required']">Password is Required</mat-error>
                <button mat-icon-button matSuffix type="button" (click)="user.showPassword = !user.showPassword" [attr.aria-label]="user.showPassword ? 'Hide password' : 'Show password'" class="mat-form-field">
                  <mat-icon>{{ user.showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          
             
          <div class="row mb-2">
            <div class="col">   
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select State</mat-label>
                  <mat-select  [(ngModel)]="selectedStateId" required name="state" #StateList="ngModel" (selectionChange)="onChangeDistrict()">
                      <mat-option *ngFor="let state of states" [value]="state.id">{{state.state_name}}
                    </mat-option>
                </mat-select>
                <mat-error class="text-danger" *ngIf="(StateList.touched ||registerForm.submitted)&& StateList.errors?.['required']">Please Select State</mat-error>
              </mat-form-field>            
            </div>
          </div>
              
          <div class="row mb-2">
            <div class="col">              
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select City</mat-label>
                  <mat-select  [(ngModel)]="user.District" required name="district" #district="ngModel">
                    <mat-option *ngFor="let city of districts" [value]="city.id">{{city.city_name}}
                    </mat-option>
                </mat-select>
                <mat-error class="text-danger" *ngIf="(district.touched ||registerForm.submitted)&& district.errors?.['required']">Please Select city</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-2 form-group">
            <div class="col">  
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Hobby</mat-label>
                  <mat-select multiple [(ngModel)]="user.Hobbies" name="hobby">
                    <mat-option *ngFor="let h of selectedItems" [value]="h">{{h}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-2 form-group">
            <div class="col ">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Bio</mat-label>
                <textarea matInput id="bio" name="bio"  [(ngModel)]="user.Bio"></textarea>
              </mat-form-field>
            </div>
          </div>
          
          <mat-error class="text-danger" *ngIf="registerForm.submitted&&this.errorCode">{{this.errorCode}}</mat-error>
          
          <div class="row">
            <div class="col d-grid">
              <button type="submit"  class="btn btn-sm btn-success">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Submit
              </button>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="isConfirm">
          <div class="row">
            <div class="col">
              <label for="code" class="form-label">Code</label>
              <input type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="col d-grid">
              <button type="button" (click)="confirmSignUp()" class="btn btn-sm btn-success">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>