<div class="avatar-container" *ngIf="!isConfirm">
  <div class="image-container" 
  [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
  </div>
  <label for="avatar-input-file">
      <div class="icon-wrapper">
          <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
          <mat-icon class="icon" fontIcon="edit"></mat-icon>
      </div>
  </label>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-4">
      <div class="card">
        <div class="card-body" *ngIf="!isConfirm">
          <div class="row">
            <div class="col mb-2">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col mb-3">
              <span><label for="name" class="form-label">Profile Name</label></span>
              <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control form-control-sm">
            </div>
          </div>
          
          
          <div class="row">
            <div class="col mb-2">
              <label for="name" class="form-label">State</label>
              <mat-form-field [style.height.px]=70 [style.width.px]=405>
                <mat-label>Select State...</mat-label>
                  <mat-select [(ngModel)]="selectedStateId" name="state" (selectionChange)="onChangeDistrict()">
                    <mat-option *ngFor="let state of states" [value]="state.id">
                      {{state.states}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
              
          <div class="row">
            <div class="col  mb-2">  
              <label for="name" class="form-label">District</label>
              <mat-form-field [style.height.px]=70 [style.width.px]=405>
                <mat-label>Select District...</mat-label>
                  <mat-select  [(ngModel)]="user.District" name="district">
                    <mat-option *ngFor="let city of filteredDistricts" [value]="city.id">{{city.district}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <div class="col mb-2">
              <label for="password" class="form-label">Password</label>
              <div class="input-group input-group-sm">
                <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-sm">
                <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
                  <i class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col  mb-2">  
              <label for="name" class="form-label">Hobbies</label>
              <mat-form-field [style.height.px]=70 [style.width.px]=405>
                <mat-label>Select...</mat-label>
                  <mat-select  [(ngModel)]="user.Hobbies" name="hobby">
                    <mat-option *ngFor="let h of selectedItems" [value]="h">{{h}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div> -->
          <div class="form-group">
            <label for="skills">Skills</label>
            <input type="checkbox" name="skills[]" id="skill1" value="Angular">
            <label for="skill1">Angular</label>
            <input type="checkbox" name="skills[]" id="skill2" value="React">
            <label for="skill2">React</label>
            <input type="checkbox" name="skills[]" id="skill3" value="Vue">
            <label for="skill3">Vue</label>
          </div>

          <div class="row">
            <div class="col mb-2" >
              <label for="bio" class="form-label" >Bio</label>
              <textarea id="bio" name="bio" [style.height.px]=105 [style.width.px]=405 [style.width.px]=405 [(ngModel)]="user.Bio"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col d-grid">
              <button type="button" (click)="signUp()" class="btn btn-sm btn-success" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Sign up
              </button>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="isConfirm">
          <div class="row">
            <div class="col mb-2">
              <label for="code" class="form-label">Code</label>
              <input type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="col d-grid">
              <button type="button" (click)="confirmSignUp()" class="btn btn-sm btn-success" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>