.btn{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:blue;
}
.row{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.error-message {
    color: red;
}


.custom-signin-button {
    background-color: rgb(243, 243, 17);
    box-sizing: border-box;
}

.text-danger{
    color: rgb(255, 0, 0);
    font-size:12px;

}