.profile-pic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.nav-item{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: 300;
}