
<!-- <app-root [recievedValue]="ProfilePic"></app-root> -->
<div class="container">
  <div class="card my-3 p-2">
    <label
      for="formFile"
      class="form-label me-2 d-flex justify-content-center"
      >Upload File
    </label>
    <div class="d-flex justify-content-center">
      <input #fileInput
        (change)="onFilechange($event)"
        class="form-control w-50"
        type="file"
        id="formFile" 
      />
      <button (click)="upload()" type="button" class="btn btn-primary ms-2">
        Upload
      </button>
    </div>

    <br />
  </div>
</div>


<div class="container">
  <div class="row view overlay zoom">
    <div class="col-md-3 col-12"   *ngFor="let image of thumbnail" >
      <img class="img-fluid rounded file-pic mt-2" [src]="image"  (click)="toggleImage(image)" alt="Image">
    </div>
  </div>
</div>


<div [style.display]="showModal ? 'block' : 'none'"  class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <img [src]="selectedImage" id="imagepreview" style="width: 425px; height: 425px;" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="Close()" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
  </div>



