<h1>Welcome, {{ UserName}} From {{UserLocation}}</h1>
<div class="container">
  <div class="card my-3 p-2">
    <label
      for="formFile"
      class="form-label me-2 d-flex justify-content-center"
      >Upload file
    </label>
    <div class="d-flex justify-content-center">
      <input #fileInput
        (change)="onFilechange($event)"
        class="form-control w-50"
        type="file"
        id="formFile" 
      />
      <button (click)="upload()" type="button" class="btn btn-primary ms-2">
        Upload
      </button>
    </div>

    <br />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-12"   *ngFor="let image of thumbnail" >
      <img class="img-fluid rounded" [src]="image" width="300%" height="100%"  (click)="toggleImage(image)" alt="Image">
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'d-block': selectedImage}" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ selectedImage?.name }}</h5>
      <button type="button" class="close" (click)="toggleImage(null)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img [src]="selectedImage?.url" class="img-fluid">
    </div>
  </div>
</div>
</div>



