
<div class="container">
  <div class="card my-3 p-2">
    <label
      for="formFile"
      class="form-label me-2 d-flex justify-content-center"
      >Upload file
    </label>
    <div class="d-flex justify-content-center">
      <input #fileInput
        (change)="onFilechange($event)"
        class="form-control w-50"
        type="file"
        id="formFile" 
      />
      <button (click)="upload()" type="button" class="btn btn-primary ms-2">
        Upload
      </button>
    </div>

    <br />
  </div>
</div>



